DATABASE_URL="postgresql://postgres:MOT_DE_PASSE@localhost:5432/matemedical?schema=public"
PORT_API=4000
URL_FRONTEND=http://localhost:3000
JWT_SECRET=generer-un-secret-d-au-moins-32-caracteres
JWT_EXPIRATION=8h
NODE_ENV=development
MOT_DE_PASSE_COMPTE_CLIENT=
MOT_DE_PASSE_COMPTE_ADMIN=
